{
    admin off
    
    log {
        output stdout
        format console
        level INFO
    }

    servers :4308 {
        protocols h1
    }
}

(serve-proxy) {
  reverse_proxy http://localhost:4208 {
#    import proxy-headers
    transport http {
#      dial_timeout 3m # the vite's static-server can await too long while rebuilding
#      keepalive_interval 15m # for Web Sockets connection
      versions 1.1
    }
  }
}

(proxy-headers) {
  header_up Host {http.reverse_proxy.upstream.host}

  # Hide that we use proxy, otherwise Cloudflare blocks with 403
  header_up -X-Forwarded-Host
  header_up -X-Forwarded-For
  header_up -X-Forwarded-Proto

header_up -Referer
  header_up -Origin
}

(api-proxy-rotocol) {
  transport http {
    versions 2
  }
}

(api-proxy) {
  reverse_proxy {args[0]} {
    import api-proxy-rotocol
    import proxy-headers

    # Make cookies work with HTTP (instead of only HTTPS)
    # Remove 'Secure ;' from the cookies options (browser saves cookies for httpS if there is the 'Secure' mark)
    # header_down Set-Cookie "^(.*); Secure(;.*)?$" "$1$2"
  }
}

# arg 0 - origin (ex.: https://www.gitpod.io)
(app-routes) {

  handle /blog* {
    import api-proxy {args[0]}
  }

  import serve-proxy
}

:4308 {
  encode {
    zstd better  # Good balance
    gzip 6       # Good balance
  }

  import app-routes "https://www.gitpod.io"
}
